<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PHET Sims</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/custom.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body class="has-docked-nav">
  <div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-link">PHET Interactive Simulations</div>
      </div>
    </nav>
    <div class="row">
      <table class="u-full-width">
        <tbody>
          {% for name, link in sims.iteritems() %}
          {% if loop.index is divisibleby 3 %}
          <tr>
          {% endif %}
            <td>
              <a href="{{link}}"><img src="images/{{name}}.png" /></a><br>
              <div class="thumb-title">{{name.replace("-", " ").title()}}</h8>
            </td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>