<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PHET Sims</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="container">
        <h4>PHET Interactive Simulations</h4>
      </div>
    </nav>
    <div class="row">
      <table class="u-full-width">
        <tbody>
          {% for name, link in sims.iteritems() %}
          {% if loop.index is divisibleby 3 %}
          <tr>
          {% endif %}
            <td>
              <a href="{{link}}"><img src="images/{{name}}.png" /></a><br>
              <h8 style="text-align:center">{{link.replace("-", " ").title()}}</h8>
            </td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>